<div *modalHeader>
    Test Header
</div>

<div class="centered-modal-content-class">
    <div>
        {{ data }}
    </div>

    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, iste voluptatum accusamus facere explicabo impedit
        exercitationem dolore, vitae eveniet, quasi vero! Placeat eos cumque illum a voluptate dolor rerum odio.
        Eligendi fugiat, asperiores repellat, molestiae voluptas quos blanditiis magnam dolorem numquam, eius architecto
        suscipit quidem corporis recusandae impedit optio at. Quod beatae accusantium magni architecto. Repellendus
        ratione facilis provident voluptatem.
        Reiciendis excepturi ut consequuntur ullam deserunt dolor recusandae voluptatem, nisi dicta voluptatibus. Nulla,
        minus. Voluptates amet culpa eos, possimus sunt, itaque labore ipsum excepturi ab natus mollitia doloribus odio
        ratione.
        Laudantium modi doloremque repellat tenetur expedita possimus minus voluptate, cupiditate dolor ullam eaque sit
        cumque esse maxime deserunt quos pariatur? Assumenda dolore totam sit, earum ducimus hic doloribus reprehenderit
        officia!
    </div>
</div>

<div *modalFooter>
    Test Footer
</div>