<div class="catalog-container">
    <header class="filter-bar">

        <bx-search-input label="Search" placeholder="Search icons..." [ngModel]="searchTerm()"
            (ngModelChange)="searchTerm.set($event)">
        </bx-search-input>

        <div class="dropdown-group">

            <bx-select label="Size" [options]="sizeSelectOptions" [ngModel]="selectedSize()"
                (ngModelChange)="selectedSize.set($event)">
            </bx-select>

            <bx-select label="Stroke" [options]="strokeSelectOptions" [ngModel]="selectedStrokeWidth()"
                (ngModelChange)="selectedStrokeWidth.set($event)">
            </bx-select>

        </div>
    </header>

    <div class="icon-grid">
        @for (name of filteredIcons(); track name) {
        <div class="icon-card">
            <div class="icon-wrapper">
                <bx-icon [name]="name" [size]="selectedSize()" [strokeWidth]="selectedStrokeWidth()" [color]="'primary'"
                    [bgColor]="'auto'" />
            </div>
            <span class="icon-name">{{ name }}</span>
        </div>
        } @empty {
        <div class="no-results">No icons found.</div>
        }
    </div>
</div>