$custom-brand-theme-light: (
  'canvas': #f0f4f8, 
  'surface': #eefeff, 
  'element': #d1d9e6,         
  'text': #102a43, 
  'border': #bcccdc, 
  'status-warn': #f0b429,
  'status-error': #ef4e4e, 
  'error-subtle': #ffe3e3 
);

$custom-brand-theme-dark: (
  'canvas': #121212, 
  'surface': #1e1e1e, 
  'element': #2c2c2c,         
  'text': #e0e0e0, 
  'border': #3a3a3a, 
  'status-warn': #f0b429,
  'status-error': #ef4e4e, 
  'error-subtle': rgba(239, 78, 78, 0.15)
);
