.open-modal-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;

    background-color: var(--fm-button-confirm);
    color: var(--fm-text-accent-alt);
    border: none;
    border-radius: 4px;
}